@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

<div class="text-center">

    <h2>Hello, @Accessor.HttpContext.Session.GetString("loggedInUsername").</h2><br />

    <p>
        This is your personal homepage. From here you can access your calendar and all the other functionalities.
    </p>

</div> <br /><br />



<figure>
    <a asp-controller="UserSection" asp-action="Calendar"><img src="~/imgs/img5.png" /></a>
    <figcaption>Access MyCalendar</figcaption>
</figure>

<figure>
    <a asp-controller="UserSection" asp-action="GetClientIPAddress"><img src="~/imgs/img4.png" /></a>
    <figcaption>Check Moon Phase</figcaption>
</figure>

