html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("../imgs/img1.png");
    background-repeat: no-repeat;
    background-position: center;
}

figure {
    display: inline-block;
    margin: 25px; 
}

    figure img {
        vertical-align: top;
    }

    figure figcaption {
        text-align: center;
    }


